@{
	ViewData["Title"] = "tinkoff.test";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div >
	
	<ng-view></ng-view>
	@*<hello-world></hello-world>*@
	@*<div ng-controller="LinksCtrl">
		<ul>
			<li ng-repeat="link in links">
				<span>{{link.originalLink}}</span>
			</li>
		</ul>
	</div>*@
</div>
